.pageContainer {
    margin: 10px auto;
    width: 70vw;
    border-left: 10px solid #218380;
    border-right: 10px solid #218380;
    padding: 20px;
    margin-bottom: 12vh;
}

/* About Me styles */
.portrait {
    margin: 0 10px;
    width: 13vw;
    height: auto;
    float: left;
}

.h2 {
    margin: 10px;
    margin-top: 0;
    font-size: 3vw;
}

.aboutMeParagraph {
    margin: 10px;
    font-size: 1.2vw;
}

/* resume styling */
.resumeImage {
    width: 70%;
    display: block;
    margin: 0 auto;
    border: 2px solid #303030;
}

.resumeDownloadLink {
    font-weight: bold;
    color: #218380;
    text-decoration: underline;
    font-size: 2vw;
}

.resumeDownloadLink:hover {
    color: #1b6b68;
}