.pageContainer {
    margin: 10px auto;
    width: 70vw;
    border-left: 10px solid #218380;
    border-right: 10px solid #218380;
    padding: 20px;
    margin-bottom: 12vh;
}

/* About Me styles */
.portrait {
    margin: 0 10px;
    width: 13vw;
    height: auto;
    float: left;
}

.h2 {
    margin: 10px;
    margin-top: 0;
    font-size: 3vw;
}

.aboutMeParagraph {
    margin: 10px;
    font-size: 1.2vw;
}

/* resume styling */
.resumeImage {
    width: 70%;
    display: block;
    margin: 0 auto;
    border: 2px solid #303030;
}

.resumeDownloadLink {
    font-weight: bold;
    color: #218380;
    text-decoration: underline;
    font-size: 2vw;
}

.resumeDownloadLink:hover {
    color: #1b6b68;
}

/* portfolio styles */
.allProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectContainer {
    width: 20vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #303030;
    background-color: #303030;
    margin-top: 20px;
}

.projectTitle {
    margin: 0;
    color: #EBF2FA;
}

.projectLink {
    text-decoration: underline;
    text-align: end;
    color: #FBB13C;
}

.projectLink:hover {
    color: #F09605;
}

/* contact form */
.formContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #303030;
    border-radius: 5px;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    background-color: #303030;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #303030;
}

.contactTitle {
    margin-top: 0;
    font-size: 2vw;
    color: #EBF2FA;
}

.contactName {
    font-size: 1.2vw;
    background-color: #EBEBEB;
}

.contactEmail {
    font-size: 1.2vw;
    background-color: #EBEBEB;
}

.contactMessage {
    height: 10vw;
    font-size: 1.2vw;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBEBEB;

}

.contactSubmit {
    height: 2.5vw;
    border-radius: 5px;
    font-size: 1.2vw;
    background-color: #218380;
    color: #EBF2FA;
    cursor: pointer;
}

.contactSubmit:hover {
    background-color: #1b6b68;
}

.errorMessage {
    color: #ba0000;
    margin-bottom: 0;
    font-size: 1.2vw;
}