/* header elements */
.header {
    width: 100%;
    height: 18vh;
    background-color: #303030;
    display: flex;
    color: #EBF2FA;
}

.h1 {
    margin: 10px;
    margin-top: 0;
    font-size: 10vh;
}

.portrait {
    margin: 10px;
}

/* navbar elements */
.navbar {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 0;
}

.linkText {
    text-decoration: none;
    font-size: 2.5vh;
    color: #FBB13C;
}

.linkText:hover {
    color: #F09605
}

.linkContainer {
    text-align: center;
    padding: 20px;
}

.activeLinkContainer {
    background-color: rgb(235, 242, 250, .1);

}

/* footer elements */
.footer {
    width: 100%;
    height: 10vh;
    background-color: #303030;
    display: flex;
    position: absolute;
    position: absolute;
    top: 100vh;
    transform: translateY(-100%);
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.socialLink {
    color: white;
    font-size: 5vh;
}

.footer>* {
    margin-right: 10px;
}